<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1 class="class">{{projectName}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>