<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' classNames='navbar-brand'}}
        Home
      {{/link-to}}
    </div>
    <ul class="nav navbar-nav navbar-left">
      {{#link-to 'protected' tagName='li'}}
        <a>Protected Page</a>
      {{/link-to}}
    </ul>
    {{! display logout button when the session is authenticated, login button otherwise }}
    {{#if session.isAuthenticated}}
      {{logout-button}}
    {{else}}
      {{#link-to 'login' class="btn btn-success navbar-btn navbar-right"}}
        Login
      {{/link-to}}
    {{/if}}
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>