<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' classNames='navbar-brand'}}
        Home
      {{/link-to}}
    </div>
    <ul class="nav navbar-nav navbar-left">
      {{#link-to 'protected' tagName='li'}}
        <a>Protected Page</a>
      {{/link-to}}
    </ul>
    {{login-logout-button login='transitionToLoginRoute'}}
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>