<div class="page-header">
  <h1>Protected Page</h1>
</div>
<div class="alert alert-warning">
  This is a protected page only visible to authenticated users!
</div>
<h2>Posts</h2>
<ul>
  {{#each model as |post|}}
    <li>
      <h3>{{post.title}}</h3>
      <p>{{post.body}}</p>
    </li>
  {{/each}}
</ul>