body {
  position: relative;
  padding-top: 70px;
}

.nav-sidebar {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.nav-sidebar li {
  line-height: 110%;
}

.nav-sidebar li ul.nav li a {
  padding-left: 30px;
}

dl.params {
  margin-bottom: 10px;
}

dl.params dd {
  margin-bottom: 10px;
}

dl.props {
  padding-left: 30px;
  margin-top: -10px;
}

.panel-method h3 {
  font-size: 24px !important;
}

h1.class {
  margin-bottom: 5px;
}

a.element-anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -60px;
}
