name: CI

env:
  VOLTA_FEATURE_PNPM: 1

on:
  push:
    branches:
      - master
      - 'v*'
  pull_request: {}
  schedule:
    - cron:  '0 3 * * *' # daily, at 3am

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        workspace:
          - test-esa
          - test-app
          - ember-simple-auth
          - playwright-tests

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: install dependencies
        run: pnpm install

      - name: lint
        run: pnpm run --filter ${{ matrix.workspace }} lint

  tests:
    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        workspace:
          - test-esa
          - test-app
        test-suite:
          - test:one ember-lts-4.12
          - test:one ember-lts-5.4
          - test:one ember-lts-5.8
          - test:one ember-lts-5.12
          - test:one ember-lts-6.4
          - test:one ember-default
          - test:one ember-release
        allow-failure: [false]
        include:
          - workspace: test-esa
            test-suite: "test:one embroider-safe"
            allow-failure: false
          - workspace: test-esa
            test-suite: "test:one embroider-optimized"
            allow-failure: false
          - workspace: test-app
            test-suite: "test:one embroider-safe"
            allow-failure: false

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: install dependencies
        run: pnpm install

      - name: tests
        run: pnpm run --filter ${{ matrix.workspace }} ${{ matrix.test-suite }}
        continue-on-error: ${{ matrix.allow-failure }}

  browser_tests:
    name: Browser Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    container:
      image: mcr.microsoft.com/playwright:v1.56.1-noble
      options: --user 1001

    strategy:
      fail-fast: false
      matrix:
        FASTBOOT_DISABLED:
          # ember-cli-fastboot doesn't parse the `process.env.FASTBOOT_DISABLED` and we must set it to an empty string for 'false'
          - '' # false
          - 'true'

        ember-version:
          - ember-lts-4.12
          - ember-lts-5.4
          - ember-lts-6.4
          - ember-default
          - ember-release

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - run: pnpm install
      - name: (FASTBOOT_DISABLED=${{ matrix.FASTBOOT_DISABLED }}) ${{ matrix.ember-version }}
        env:
          FASTBOOT_DISABLED: ${{ matrix.FASTBOOT_DISABLED }}
          EMBER_SERVER_COMMAND: pnpm -F test-app test:one ${{ matrix.ember-version }} --- pnpm start
        run: pnpm -F playwright-tests test:e2e:chromium

  allow-fail-try-scenarios:
    name: ${{ matrix.workspace }} ${{ matrix.test-suite }} - Allowed to fail
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      pull-requests: write

    strategy:
      fail-fast: false
      matrix:
        workspace:
          - test-esa
          - test-app
        test-suite:
          - test:one ember-beta
          - test:one ember-canary
        include:
          - workspace: test-app
            test-suite: "test:one embroider-optimized"

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: install dependencies
        run: pnpm install

      - name: Allowed to fail tests
        id: allowed_to_fail_tests
        run: pnpm run --filter ${{ matrix.workspace }} ${{ matrix.test-suite }}
        continue-on-error: true

      - uses: mainmatter/continue-on-error-comment@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          outcome: ${{ steps.allowed_to_fail_tests.outcome }}
          test-id: ${{ matrix.workspace }} ${{ matrix.test-suite }}
