name: CI

on:
  push:
    branches:
      - master
      - 'v*'
  pull_request: {}
  schedule:
    - cron:  '0 3 * * *' # daily, at 3am

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest

    strategy:
      matrix:
        workspace:
          - ember-simple-auth
          - classic-test-app
          - test-app

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14.x
          cache: yarn

      - name: install dependencies
        run: yarn install

      - name: lint
        run: yarn workspace ${{ matrix.workspace }} lint

  tests:
    name: Tests
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        workspace:
          - ember-simple-auth
          - classic-test-app
          - test-app
        test-suite:
          - test:one ember-lts-3.12
          - test:one ember-lts-3.16
          - test:one ember-lts-3.20
          - test:one ember-lts-3.24
        allow-failure: [false]
        include:
          - workspace: ember-simple-auth
            test-suite: "test:one ember-beta"
            allow-failure: true
          - workspace: test-app
            test-suite: "test:one ember-beta"
            allow-failure: true
          - workspace: classic-test-app
            test-suite: "test:one ember-beta"
            allow-failure: true
          - workspace: ember-simple-auth
            test-suite: "test:one ember-release"
            allow-failure: true
          - workspace: test-app
            test-suite: "test:one ember-release"
            allow-failure: true
          - workspace: classic-test-app
            test-suite: "test:one ember-release"
            allow-failure: true
          - workspace: ember-simple-auth
            test-suite: "test:one ember-canary"
            allow-failure: true
          - workspace: classic-test-app
            test-suite: "test:one ember-canary"
            allow-failure: true
          - workspace: test-app
            test-suite: "test:one ember-canary"
            allow-failure: true

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14.x
          cache: yarn

      - name: install dependencies
        run: yarn install

      - name: tests
        run: yarn workspace ${{ matrix.workspace }} ${{ matrix.test-suite }}
        continue-on-error: ${{ matrix.allow-failure }}

  extra-tests:
    name: Tests (Floating Dependenies)
    runs-on: ubuntu-latest

    strategy:
      matrix:
        workspace:
          - ember-simple-auth
          - classic-test-app
          - test-app

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14.x
          cache: yarn

      - name: install dependencies
        run: yarn install --no-lockfile

      - name: tests
        run: yarn workspace ${{ matrix.workspace }} test
        continue-on-error: true

  node-tests:
    name: Node Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14.x
          cache: yarn

      - name: install dependencies
        run: yarn install

      - name: tests
        run: yarn workspace ember-simple-auth test:node
