name: Docs

on:
  workflow_dispatch:
  workflow_run:
    workflows: [Release]
    types:
      - completed
env:
  VOLTA_FEATURE_PNPM: 1

jobs:
  deploy-docs:
    name: Deploy docs
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: install dependencies
        run: pnpm install

      - name: generate docs
        run: pnpm run --filter docs generate-and-move

      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/docs/gh-pages
