name: Docs

on:
  workflow_dispatch:
  workflow_run:
    workflows: [Release]
    types:
      - completed
env:
  VOLTA_FEATURE_PNPM: 1

jobs:
  deploy-docs:
    name: Deploy docs
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4
      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: install dependencies
        run: pnpm install

      - name: generate docs
        run: pnpm run --filter docs generate-and-move

      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/docs/gh-pages
