name: Docs

on:
  workflow_dispatch:
  workflow_run:
    workflows: [Release]
    types:
      - completed
env:
  VOLTA_FEATURE_PNPM: 1

jobs:
  deploy-docs:
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: volta-cli/action@d253558a6e356722728a10e9a469190de21a83ef # v4
      - uses: actions/cache@e12d46a63a90f2fae62d114769bbf2a179198b5c # v3
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: install dependencies
        run: pnpm install

      - name: generate docs
        run: pnpm run --filter docs generate-and-move

      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/docs/gh-pages
