name: Release

on:
  push:
    tags:
      - '*'

env:
  VOLTA_FEATURE_PNPM: 1

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
      - uses: volta-cli/action@d253558a6e356722728a10e9a469190de21a83ef # v4
      - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: install dependencies
        run: pnpm install

      - name: prepack 
        run: pnpm run --filter ember-simple-auth prepack

      - name: Set publishing config
        run: pnpm config set '//registry.npmjs.org/:_authToken' "${NODE_AUTH_TOKEN}"
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: publish to npm
        run: pnpm run --filter ember-simple-auth release
